<div class="container">
    <div class="row justify-content-center my-5">
        <img class="logo" src="assets/img/logo-jamar.svg">
    </div>
    
    <div class="row justify-content-center my-5 px-5">
        <img class="not-found" src="assets/img/not-found.svg">
    </div>

    <div class="row text-center mt-5">
        <p class="title">¡No hemos podido encontrar esta página!</p>
        <p class="description mt-3">Lo sentimos, pero el enlace que intentas acceder esta fuera de servicio. Por favor, contacta a un asesor para obtener asistencia y un nuevo enlace. ¡Gracias por tu comprensión!</p>
    </div>

</div>