.logo {
    max-width: 250px;
    margin-bottom: 40px;
}

.not-found {
    margin-bottom: 40px;
    max-width: 450px;
}

.title {
    line-height: 38px;
    font-family: "Lato";
    font-weight: 700;
    color: #344054;
    font-size: 32px;
}

.description {
    font-family: "Lato";
    font-size: 20px;
    font-weight: 400;
    color: #344054;
    line-height: 30px;
    letter-spacing: 0px;
}